
.navbar{
	color: #fff;
}
.navbar-text{
	font-size: 20px;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px; 
    max-width: 18rem;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card-img-top{
	max-height: 10em;
	min-height: 10em;
}
#map{
	height: 400px;
	width: 100%;
}
.toggle-button{
	cursor: pointer;
}
#map{
	display: none;
}
.toggle-button{
	text-align: center;
}

